.received {
    display: none;
}

#photo {
    display:block;
    width:80%;
    position:absolute;
    z-index:3;
    bottom:1em;
    margin-left:9%;
    padding:2%;
    font:1.5em/1.5 sans-serif;
    text-align:center;
    text-decoration:none;
    background-color:#0a8416;
    color:#fff;
    border-radius:5px;
}

#myImage {
    display:block;
    position:relative;
    width:99vw;
    height:99vh;
    margin:auto;
}

